<style type="text/css">
	div.lc-hire {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  right: 0px;
	  height: 35px;
	  background: #222222;
	  color: #ffffff;
	  font-size: 12px;
	}
	div.lc-hire .uk-button {
	  margin: 0 5px;
	  border-radius: 2px;
	  text-shadow: none;
	}
</style>

<div class="uk-width-1-1 uk-text-center uk-vertical-align uk-hidden-small lc-hire">
    <div class="uk-vertical-align-middle">
        Application for Summer 2014 program now open.
        <a class="uk-button uk-button-mini" href="">Apply now</a>
    </div>
</div>