---
title: Network
layout: default
id: network
---

<div class="lc-section-1 uk-width-4-5 uk-container-center uk-text-center lc-no-overflow">
	<div class="lc-title">Network.</div>
	<br><br>
	<div class="lc-text uk-width-4-5 uk-container-center uk-text-left">
		<div class="lc-text-medium lc-text-bold lc-text-smallcaps lc-text-mute">Past guests &#38; advisors</div>
		<p class="uk-width-4-5">We invite exceptional entrepreneurs and investors to connect with us on occasion.</p>
		<p class="uk-width-4-5">We are focused on quality of engagement with only the top guests rather than having an excessive number of advisors who add little value.</p>
	</div>
	<br><br>
	{% for guest in site.data.guests %}
	<div class="uk-width-1-4 uk-float-left uk-text-left">
		<img class="uk-width-2-3" src="{{ site.url }}/assets/img/{{ guest.img }}">
		<br><br>
		<div class="lc-name">{{ guest.name }}</div>
		<div class="lc-position">{{ guest.position }}</div>
		<br>
		<div class="lc-bio uk-width-9-10">{{ guest.bio }}</div>
	</div>
	{% endfor %}
</div>
<hr class="uk-width-4-5 uk-container-center">
<div class="lc-section-2 uk-width-4-5 uk-container-center uk-text-center lc-no-overflow">
	<div class="lc-text uk-width-4-5 uk-container-center uk-text-left">
		<div class="lc-text-medium lc-text-bold lc-text-smallcaps lc-text-mute">Partners &#38; support team</div>
		<p class="uk-width-4-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque justo, imperdiet non accumsan non, laoreet sed ante. Integer at lacus sed augue tempus suscipit. Quisque ut lacus eget justo porta placerat.</p>
	</div>
	<br><br>
	{% for partner in site.data.partners %}
	<div class="uk-width-1-6 uk-float-left uk-text-left">
		<img class="uk-width-4-5" src="{{ site.url }}/assets/img/{{ partner.img }}.jpg">
		<br><br>
		<div class="lc-name">{{ partner.name }}</div>
		<div class="lc-position">{{ partner.position }}</div>
	</div>
	{% endfor %}
</div>
<hr class="uk-width-4-5 uk-container-center">
<div class="lc-section-3 uk-width-4-5 uk-container-center uk-text-center lc-no-overflow">
	<div class="lc-text uk-width-4-5 uk-container-center uk-text-left">
		<div class="lc-text-medium lc-text-bold lc-text-smallcaps lc-text-mute">Members</div>
		<p class="uk-width-4-5">Our team of developers, designers, and biz devs have been recruited by Google, Amazon, Facebook, Microsoft, TripAdvisor, Yelp, Bessemer, Palantir along with a number of VC backed startups. They are also all part of the founding team of an LCL startup!</p>
	</div>
	<br><br>
	<div class="lc-members-list">	
		{% for member in site.data.members %}
		<div class="lc-name uk-width-1-6 uk-float-left uk-text-left">{{ member.name }}</div>
		{% endfor %}
	</div>
	{% include footer.html %}
</div>