body {
  height: 100%;
}

body > [class*='lc-section-'] {
  margin-left: 85px; /* width of lc-bar */
}

.lc-section-1 {
  background: #89a826;
  height: 100%;
}

.lc-section-1 .lc-graphic {
  background: #89a826 url('/assets/img/lcl-graphic.png') center center no-repeat; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100%;
}

.lc-section-2 {
  position: relative;
  padding-bottom: 500px;
  top: -100px;
}

.lc-section-2 .lc-blog-text {
  padding: 60px 35px;
  color: #ffffff;
  text-align: center;
}

.lc-section-2 .lc-blog-title {
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.lc-section-2 .lc-blog-description {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #dddddd;
}

.lc-section-2 .lc-blog-1 {
  background: url('/assets/img/blog-3.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 575px;
  padding: 0 35px;
  text-shadow: #000000 2px 2px 20px;
}

.lc-section-2 .lc-blog-2 {
  background: url('/assets/img/blog-2.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 70px;
  height: 450px;
}

.lc-section-2 .lc-blog-3 {
  background: #222222;
}

.lc-section-2 .lc-blog-4 {
  background: url('/assets/img/blog-4.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

.lc-section-2 .lc-blog-5 {
  background: url('/assets/img/blog-5.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  left: -10%;
  top: 475px;
  width: 120%;
  height: 700px;
  z-index: -1;
}

.lc-section-2 .lc-blog-6 {
  background: url('/assets/img/blog-6.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 425px;
  height: 325px;
}

.lc-section-2 .lc-blog-7 {
  background: url('/assets/img/blog-7.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 350px;
  height: 400px;
}

.lc-section-2 .lc-blog-8 {
  background: url('/assets/img/blog-8.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 300px;
  height: 300px;
}

.lc-section-2 .lc-blog-9 {
  background: url('/assets/img/blog-9.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 300px;
  height: 300px;
}

.lc-section-2 .lc-blog-10 {
  background: url('/assets/img/blog-10.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 150px;
  height: 400px;
}

.lc-section-2 .lc-blog-11 {
  background: #222222;
  position: relative;
  top: 150px;
}

.lc-section-2 .lc-blog-12 {
  background: url('/assets/img/blog-12.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 300px;
  height: 250px;
}

.lc-section-2 .lc-blog-13 {
  background: url('/assets/img/blog-13.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 129px;
  height: 250px;
}






