body {
  color: #222222;
  font-family: 'Lato', Helvetica Neue, Helvetica, serif;
  height: 2000px;
}

/*.lc-section-blog {
  height: 500px;
  color: #ffffff;
}

.lc-section-blog .lc-blog-title {
  font-size: 50px;
  font-weight: 300;
}

.lc-section-blog .lc-blog-caption {
  font-size: 40px;
  line-height: 1em;
  font-weight: 700;
}

.lc-blog-button {
  border-radius: 0px;
  background: #89a826;
  border: 2px solid #89a826;
  color: #ffffff;
}

.lc-blog-button i {
  margin-left: 7px;
}

.lc-blog-button:hover {
  border-color: #ffffff;
}*/

.lc-section-1 {
  height: auto;
  background: #89a826;
}

.lc-section-1 .lc-section-padding {
  padding: 8% 0 12%;
}

@media (min-width: 768px) {
  .lc-section-1 {
    background: #89a826 url("../img/bg.png") 50% 0 no-repeat;
  }
}

div.lc-section-1 .lc-logo-caption {
  color: #5F743C;
}

div.lc-section-1 .lc-title {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  margin: 12% 0 5% 0;
  text-shadow: #5F743C 2px 2px 0px;
  padding-right: 10px;
}

/* Tablet */
@media (max-width:960px) {
  div.lc-section-1 .lc-title {
    font-size: 35px;
    line-height: 40px;
    margin-top: 75px;
    padding-right: 0px;
  }
}

/* Phone */
@media (max-width:768px) {
  div.lc-section-1 .lc-title {
    font-size: 27px;
    line-height: 30px;
    margin: 40px 0 10%;
    padding-right: 0px;
  }
}

div.lc-section-1 .uk-button {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-shadow: none;
  color: #ffffff;
  width: 150px;
}

div.lc-section-1 .uk-button:hover {
  background: #ffffff;
  color: #89a826;
}

.lc-section-2 {
  background: url("../img/hire1.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lc-section-3 {
  background: url("../img/scott1.jpg") no-repeat center 45%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}