body {
  color: #ffffff;
}

.lc-bg-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #89a826;
  /*background: url(/assets/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  z-index: -2;
}

.lc-body-border {
  position: fixed;
  border: 15px solid #ffffff;
  z-index: -1;
}

.lc-banner-logo {
  position: fixed;
  width: 225px;
  height: 65px;
  background: #3f3f3f;
  /*box-shadow: #555555 1px 1px 100px;*/
}

.lc-section-1 {
  height: 100%;
}

.lc-section-1 .lc-title {
  font-size: 2.7em;
  line-height: 1.1em;
  /*text-shadow: #555555 1px 1px 40px;*/
  font-weight: 700;
}

.lc-section-1 .lc-title-btn {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 0;
  margin-top: 35px;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  font-size: 12px;
}

.lc-section-1 .lc-title-btn:hover {
  background: #ffffff;
  color: #89a826;
}

.lc-section-2 {
  height: 100%;
}