body {
  background: #89a826;
  color: #222222;
  font-family: 'Lato', Helvetica Neue, Helvetica, serif;
}

.lc-section {
  padding: 7% 0;
}

section.lc-section-1 {
  background: #89a826;
}

@media (min-width: 768px) {
  section.lc-section-1 {
    height: 450px;
    background: #89a826 url("../img/bg.png") 50% 20% no-repeat;
  }
}

section.lc-section-1 .lc-logo-caption {
  color: #5F743C;
}

section.lc-section-1 .lc-title {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  margin: 75px 0 8% 0;
  text-shadow: #5F743C 2px 2px 0px;
  padding-right: 10px;
}

/* Tablet */
@media (max-width:960px) {
  section.lc-section-1 .lc-title {
    font-size: 35px;
    line-height: 40px;
    margin-top: 75px;
    padding-right: 0px;
  }
}

/* Phone */
@media (max-width:640px) {
  section.lc-section-1 .lc-title {
    font-size: 25px;
    line-height: 30px;
    margin: 40px 0 10%;
    padding-right: 0px;
  }
}

section.lc-section-1 .uk-button {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-shadow: none;
  color: #ffffff;
  width: 150px;
}

section.lc-section-1 .uk-button:hover {
  background: #ffffff;
  color: #89a826;
}


