body {
  background: #89a826;
  color: #222222;
  font-family: 'Lato', Helvetica Neue, Helvetica, serif;
}

.lc-landing {
  padding: 8% 0;
}

@media (min-width: 768px) {
  body {
    background: #89a826 url("../img/bg.png") 50% 0 no-repeat;
  }
}

@media (min-height: 700px) {
  body {
    background: #89a826 url("../img/bg.png") 50% -100% no-repeat;
  }
}

div.lc-landing .lc-logo-caption {
  color: #5F743C;
}

div.lc-landing .lc-title {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  margin: 12% 0 5% 0;
  text-shadow: #5F743C 2px 2px 0px;
  padding-right: 10px;
}

/* Large screens */
@media (min-height:700px) {
  div.lc-landing {
    padding-top: 12%;
  }
}

/* Tablet */
@media (max-width:960px) {
  div.lc-landing .lc-title {
    font-size: 35px;
    line-height: 40px;
    margin-top: 75px;
    padding-right: 0px;
  }
}

/* Phone */
@media (max-width:640px) {
  div.lc-landing .lc-title {
    font-size: 25px;
    line-height: 30px;
    margin: 40px 0 10%;
    padding-right: 0px;
  }
}

div.lc-landing .uk-button {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-shadow: none;
  color: #ffffff;
  width: 150px;
}

div.lc-landing .uk-button:hover {
  background: #ffffff;
  color: #89a826;
}


