<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
    <link rel="image_src" type="image/png" href="{{ site.url }}/assets/img/favicon.png"> -->
    <title>Life Changing Labs | {{ page.title }}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/uikit.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/sticky.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/uikit.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <style type="text/css">
      .uk-offcanvas-bar #blog {color: #eeeeee}
    </style>
  </head>
  <body class="blog">
    <a href="#offcanvas" data-uk-offcanvas>  
      <div class="lc-menu-btn uk-text-center uk-vertical-align">
        <i class="uk-icon-reorder uk-vertical-align-middle"></i>
      </div>
    </a>
    <div id="offcanvas" class="uk-offcanvas uk-hidden-small">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-text-right">
        <a id="home" class="lc-link" href="{{ site.url }}/index.html">Home</a><br>
        <a id="about" class="lc-link" href="{{ site.url }}/about">About</a><br>
        <a id="companies" class="lc-link" href="{{ site.url }}/companies">Companies</a><br>
        <a id="network" class="lc-link" href="{{ site.url }}/network">Network</a><br>
        <a id="blog" class="lc-link" href="{{ site.url }}/blog">Blog</a><br><br>
        <a id="opportunities" class="lc-link lc-link-attention" href="{{ site.url }}/opportunities">Join us</a>
        <div class="lc-contact">
          <a href="{{ site.url }}"><img src="{{ site.url }}/assets/img/logos/solo-logo-white-35.png" title="Life Changing Labs" alt="Life Changing Labs"></a><br>
          <a href="https://www.google.com/maps/dir//325+College+Ave,+Ithaca,+NY+14850" target="_blank">
            325 College Avenue<br>
            Ithaca, New York 14853
          </a><br>
          <!-- (123) 456-7890<br> -->
          <a href="mailto:contact@lifechanginglabs.com?Subject=Business%20Inquiry%20For%20Life%20Changing%20Labs">contact@lifechanginglabs.com</a><br><br>
          <div class="lc-text-small">Life Changing Labs<br>&#169; 2014 All rights reserved.<br>powered by people, passion, &#38; persistence</div>
        </div>
      </div>
    </div>
    <div class="lc-border lc-border-left"></div>
    <div class="lc-border lc-border-right"></div>
    <div class="lc-border lc-border-top"></div>
    <div class="lc-border lc-border-bottom"></div>
    <div class="uk-width-4-5 uk-container-center">
      <a href="{{ site.url }}/index.html">
        <div class="lc-banner-logo uk-text-center uk-vertical-align">
          <img class="uk-vertical-align-middle" src="/assets/img/logos/logo-white-250.png" width="200px">
        </div>
      </a>
    </div>
    <div class="uk-width-4-5 uk-container-center uk-height-1-1">
      <div class="lc-latest uk-width-7-10 uk-float-left uk-height-1-1">
        <div class="uk-width-4-5">
          <!-- <div class="lc-text-smallcaps lc-text-bolder lc-text-mute">latest post</div>
          <br> -->
          <div class="lc-title"><a href="{{ post.url }}">{{ page.title }}</a></div>
          <div class="lc-date lc-text-mute">{{ page.date | date: "%B %-d, %Y" }}</div>
          <br>
          <div class="lc-body">{{ page.content }}</div>
        </div>
      </div>
      <div class="lc-list uk-width-3-10 uk-float-left uk-height-1-1">
        <div class="uk-width-9-10 uk-float-right">
          <div class="lc-text-smallcaps lc-text-bold lc-text-medium">archive</div>
          <br>
          {% for post in site.posts %}
          {% if post.title != page.title %}
          <div class="lc-list-item">
            <div class="lc-date lc-text-bold">{{ post.date | date: "%B %-d, %Y" }}</div>
            <div class="lc-title lc-text-bolder"><a href="{{ post.url }}">{{ post.title }}</a></div>
            <div class="lc-excerpt line-clamp">{{ post.excerpt | truncatewords: 25 }}</div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>