<!-- Life Changing Labs | made by Lillian Chen | March, 2014 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
    <link rel="image_src" type="image/png" href="{{ site.url }}/assets/img/favicon.png"> -->
    <title>Life Changing Labs | {{ page.title }}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/uikit.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/sticky.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/uikit.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <style type="text/css">
      .uk-offcanvas-bar #{{ page.id }} {color: #eeeeee}
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37790456-1', 'lifechanginglabs.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="{{ page.id }}">
    <a href="#offcanvas" data-uk-offcanvas>  
      <div class="lc-menu-btn uk-text-center uk-vertical-align">
        <i class="uk-icon-reorder uk-vertical-align-middle"></i>
      </div>
    </a>
    <div id="offcanvas" class="uk-offcanvas uk-hidden-small">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-text-right">
        <a id="home" class="lc-link" href="{{ site.url }}/index.html">Home</a><br>
        <a id="about" class="lc-link" href="{{ site.url }}/about">About</a><br>
        <a id="companies" class="lc-link" href="{{ site.url }}/companies">Companies</a><br>
        <a id="network" class="lc-link" href="{{ site.url }}/network">Network</a><br>
        <a id="blog" class="lc-link" href="{{ site.url }}/blog">Blog</a><br><br>
        <a id="blog" class="lc-link" href="{{ site.url }}/bootcamp">Business Bootcamp</a><br><br>
        <a class="lc-link lc-link-attention" href="{{ site.url }}/opportunities">Join us</a><br>
        <a id="invest" class="lc-link" href="{{ site.url }}/invest">Invest</a>
        <div class="lc-contact">
          <!-- <a href="{{ site.url }}"><img src="{{ site.url }}/assets/img/logos/solo-logo-white-35.png" title="Life Changing Labs" alt="Life Changing Labs"></a> -->
          <a href="mailto:contactlifechanginglabs@gmail.com"><i class="uk-icon-envelope-alt"></i></a>
          <a href="https://www.facebook.com/lifechanginglabs" target="_blank"><i class="uk-icon-facebook-sign"></i></a>
          <a href="https://twitter.com/lifechanginglab" target="_blank"><i class="uk-icon-twitter-sign"></i></a><br>
          <a href="https://www.google.com/maps/dir//325+College+Ave,+Ithaca,+NY+14850" target="_blank">
            325 College Avenue<br>
            Ithaca, New York 14853
          </a><br>
          <!-- (123) 456-7890<br> -->
          <br><br>
          <div class="lc-text-small">Life Changing Labs<br>&#169; 2014 All rights reserved.<br>powered by people, passion, &#38; persistence</div>
        </div>
      </div>
    </div>
    <div class="lc-border lc-border-left"></div>
    <div class="lc-border lc-border-right"></div>
    <div class="lc-border lc-border-top"></div>
    <div class="lc-border lc-border-bottom"></div>
    <div class="uk-width-4-5 uk-container-center">
      <a href="{{ site.url }}/index.html">
        <div class="lc-banner-logo uk-text-center uk-vertical-align">
          <img class="uk-vertical-align-middle" src="/assets/img/logos/logo-text-white-250.png" width="180px">
        </div>
      </a>
    </div>
    {{ content }}
  </body>
</html>