<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
    <link rel="image_src" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
    <title>Life Changing Labs | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/uikit.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/base.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/uikit.js"></script>
  </head>
  <body>
    <div class="lc-bar"></div>
    <div id="offcanvas" class="uk-offcanvas uk-hidden-small">
      <div class="uk-offcanvas-bar uk-text-right">
        <a class="lc-link lc-link-active" href="">Home</a><br>
        <a class="lc-link" href="{{ site.url }}/about">About</a><br>
        <a class="lc-link" href="{{ site.url }}/companies">Companies</a><br>
        <a class="lc-link" href="{{ site.url }}/network">Network</a><br>
        <a class="lc-link" href="{{ site.url }}/blog">Blog</a><br><br>
        <a class="lc-link lc-link-attention" href="{{ site.url }}/jobs">Careers</a>
        <div class="lc-contact">
          <a href="{{ site.url }}"><img class="uk-width-7-10" src="{{ site.url }}/assets/img/logo-white-200.png" title="Life Changing Labs" alt="Life Changing Labs"></a><br><br>
          <a href="">
            Address 1<br>
            Address 2<br>
            Ithaca, New York 14853
          </a><br><br>
          (123) 456-7890<br>
          <a href="mailto:peter@lifechanginglabs.com?Subject=Business%20Inquiry%20For%20Life%20Changing%20Labs">email@lifechanginglabs</a><br><br>
          <div class="lc-text-small">&#169; 2014 All rights reserved.<br>Life Changing Labs</div>
        </div>
      </div>
    </div>
    <div class="uk-width-4-5">
      {{ content }}
    </div>
  </body>
</html>